In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Fazendo Leitura de Parte da base do INEP

In [31]:
path = "C:\\Users\\vinic\\Documents\\GitHub\\Enem\\2018\\Dados\\MICRODADOS_ENEM_2018.csv"

In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
use_cols = ["NU_INSCRICAO","CO_ESCOLA","SG_UF_ESC","CO_UF_ESC","SG_UF_RESIDENCIA", "TP_ST_CONCLUSAO", "TP_ANO_CONCLUIU", "TP_ESCOLA" ,"TP_ENSINO", "IN_TREINEIRO","TP_SIT_FUNC_ESC"]
data_iterator = pd.read_csv(path,sep=';',encoding='latin1',low_memory=False,chunksize=10000, usecols=use_cols)
chunk_list = []  

# Each chunk is in dataframe format
for data_chunk in data_iterator:  
   # filtered_chunk =  chunk_preprocessing(data_chunk)
    chunk_list.append(data_chunk)
    
filtered_data = pd.concat(chunk_list)

## Pegando uma amostra desses dados

In [99]:
#amostra = filtered_data.sample(500000)
amostra = filtered_data

### Observando na amostra os valores da varável TP_ST_CONCLUSAO

In [100]:
amostra.TP_ST_CONCLUSAO.value_counts()

1    3233968
2    1640099
3     586939
4      52741
Name: TP_ST_CONCLUSAO, dtype: int64

In [101]:
amostra

,NU_INSCRICAO,SG_UF_RESIDENCIA,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_ESCOLA,CO_UF_ESC,SG_UF_ESC,TP_SIT_FUNC_ESC
0,180008202043,DF,2,0,2,1.0,0,52033333.0,52.0,GO,1.0
1,180007197856,MA,1,5,1,1.0,0,NaN,NaN,NaN,NaN
2,180008517434,SP,1,3,1,3.0,0,NaN,NaN,NaN,NaN
3,180007661228,BA,1,8,1,1.0,0,NaN,NaN,NaN,NaN
4,180008787987,BA,2,0,2,1.0,0,29112699.0,29.0,BA,1.0
...,...,...,...,...,...,...,...,...,...,...,...
5513742,180013945649,RJ,1,6,1,NaN,0,NaN,NaN,NaN,NaN
5513743,180013964149,AM,2,0,2,1.0,0,13027573.0,13.0,AM,1.0
5513744,180013980226,SP,2,0,1,1.0,0,NaN,NaN,NaN,NaN
5513745,180013934137,SP,2,0,4,1.0,0,35125568.0,35.0,SP,1.0
5513746,180013962906,MG,1,3,1,NaN,0,NaN,NaN,NaN,NaN

In [102]:
agrupado = amostra.groupby(['TP_ST_CONCLUSAO'])

In [103]:
amostra.query("SG_UF_ESC == 'MG'")

,NU_INSCRICAO,SG_UF_RESIDENCIA,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_ESCOLA,CO_UF_ESC,SG_UF_ESC,TP_SIT_FUNC_ESC
94,180008895637,MG,2,0,2,1.0,0,31190802.0,31.0,MG,1.0
188,180008309642,MG,2,0,2,1.0,0,31002429.0,31.0,MG,1.0
527,180007290041,MG,2,0,2,1.0,0,31009873.0,31.0,MG,1.0
652,180008199527,MG,2,0,2,1.0,0,31167436.0,31.0,MG,1.0
669,180008205421,MG,2,0,2,3.0,0,31166731.0,31.0,MG,1.0
...,...,...,...,...,...,...,...,...,...,...,...
5513492,180013445996,MG,2,0,2,1.0,0,31193356.0,31.0,MG,1.0
5513546,180013951178,MG,2,0,2,1.0,0,31342530.0,31.0,MG,1.0
5513601,180013732869,MG,2,0,2,2.0,0,31056537.0,31.0,MG,1.0
5513702,180013988434,MG,2,0,2,1.0,0,31041688.0,31.0,MG,1.0
5513715,180013945033,MG,2,0,2,1.0,0,31024210.0,31.0,MG,1.0

In [104]:
amostra.query("SG_UF_ESC == 'MG'").TP_ST_CONCLUSAO.value_counts()

2    137963
Name: TP_ST_CONCLUSAO, dtype: int64

In [105]:
amostra.query("SG_UF_ESC == 'RJ'").TP_ST_CONCLUSAO.value_counts()

2    102500
Name: TP_ST_CONCLUSAO, dtype: int64

In [106]:
amostra.query("SG_UF_ESC == 'SP'").TP_ST_CONCLUSAO.value_counts()

2    298241
Name: TP_ST_CONCLUSAO, dtype: int64

In [107]:
amostra.query("SG_UF_ESC == 'MA'").TP_ST_CONCLUSAO.value_counts()

2    49890
Name: TP_ST_CONCLUSAO, dtype: int64

In [108]:
amostra.SG_UF_ESC.value_counts()

SP    298241
MG    137963
CE    119983
RJ    102500
BA     82825
PE     82371
PR     68729
PA     59883
GO     56194
MA     49890
RS     47806
SC     45113
AM     34847
ES     31814
PI     29120
PB     28402
DF     26661
MT     23479
RN     22728
AL     21073
MS     18186
SE     16562
RO     13972
TO     12811
AP      7474
AC      6643
RR      3551
Name: SG_UF_ESC, dtype: int64

In [109]:
agrupado = amostra.groupby(['TP_ST_CONCLUSAO'])

In [110]:
agrupado['SG_UF_RESIDENCIA'].value_counts()

TP_ST_CONCLUSAO  SG_UF_RESIDENCIA
1                SP                  498228
                 MG                  349479
                 BA                  257594
                 RJ                  223067
                 PA                  185171
                                      ...
4                AL                     665
                 TO                     570
                 AP                     486
                 AC                     349
                 RR                     133
Name: SG_UF_RESIDENCIA, Length: 108, dtype: int64

In [111]:
agrupado['SG_UF_ESC'].value_counts()

TP_ST_CONCLUSAO  SG_UF_ESC
2                SP           298241
                 MG           137963
                 CE           119983
                 RJ           102500
                 BA            82825
                 PE            82371
                 PR            68729
                 PA            59883
                 GO            56194
                 MA            49890
                 RS            47806
                 SC            45113
                 AM            34847
                 ES            31814
                 PI            29120
                 PB            28402
                 DF            26661
                 MT            23479
                 RN            22728
                 AL            21073
                 MS            18186
                 SE            16562
                 RO            13972
                 TO            12811
                 AP             7474
                 AC             6643
                 RR             3551
Name: SG_UF_ESC, dtype: int64

In [112]:
amostra.CO_UF_ESC.isna().sum()

4064926

In [113]:
amostra.TP_ST_CONCLUSAO.value_counts()

1    3233968
2    1640099
3     586939
4      52741
Name: TP_ST_CONCLUSAO, dtype: int64

In [114]:
amostra.query("TP_ST_CONCLUSAO != 2").count()

NU_INSCRICAO        3873648
SG_UF_RESIDENCIA    3873648
TP_ST_CONCLUSAO     3873648
TP_ANO_CONCLUIU     3873648
TP_ESCOLA           3873648
TP_ENSINO           1843160
IN_TREINEIRO        3873648
CO_ESCOLA                 0
CO_UF_ESC                 0
SG_UF_ESC                 0
TP_SIT_FUNC_ESC           0
dtype: int64

In [115]:
amostra.query("IN_TREINEIRO == 0").count()

NU_INSCRICAO        4986038
SG_UF_RESIDENCIA    4986038
TP_ST_CONCLUSAO     4986038
TP_ANO_CONCLUIU     4986038
TP_ESCOLA           4986038
TP_ENSINO           3483081
IN_TREINEIRO        4986038
CO_ESCOLA           1448821
CO_UF_ESC           1448821
SG_UF_ESC           1448821
TP_SIT_FUNC_ESC     1448821
dtype: int64

In [116]:
amostra.query("IN_TREINEIRO == 1").count()

NU_INSCRICAO        527709
SG_UF_RESIDENCIA    527709
TP_ST_CONCLUSAO     527709
TP_ANO_CONCLUIU     527709
TP_ESCOLA           527709
TP_ENSINO                0
IN_TREINEIRO        527709
CO_ESCOLA                0
CO_UF_ESC                0
SG_UF_ESC                0
TP_SIT_FUNC_ESC          0
dtype: int64

In [117]:
amostra.query("IN_TREINEIRO == 1").TP_ST_CONCLUSAO.value_counts()

3    527709
Name: TP_ST_CONCLUSAO, dtype: int64

In [120]:
amostra.query("TP_ST_CONCLUSAO == 2").count()

NU_INSCRICAO        1640099
SG_UF_RESIDENCIA    1640099
TP_ST_CONCLUSAO     1640099
TP_ANO_CONCLUIU     1640099
TP_ESCOLA           1640099
TP_ENSINO           1639921
IN_TREINEIRO        1640099
CO_ESCOLA           1448821
CO_UF_ESC           1448821
SG_UF_ESC           1448821
TP_SIT_FUNC_ESC     1448821
dtype: int64

In [119]:
amostra.count()

NU_INSCRICAO        5513747
SG_UF_RESIDENCIA    5513747
TP_ST_CONCLUSAO     5513747
TP_ANO_CONCLUIU     5513747
TP_ESCOLA           5513747
TP_ENSINO           3483081
IN_TREINEIRO        5513747
CO_ESCOLA           1448821
CO_UF_ESC           1448821
SG_UF_ESC           1448821
TP_SIT_FUNC_ESC     1448821
dtype: int64

In [122]:
1448821/5513747 * 100

26.276523025086206

In [123]:
1640099/5513747 * 100

29.745633958177624

In [124]:
amostra.TP_ESCOLA.value_counts()

1    4110764
2    1137491
4     251615
3      13877
Name: TP_ESCOLA, dtype: int64